# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE directories
.vscode/
.idea/

# Vendor dependencies (if not using Go modules)
vendor/

services/notification_service/syncio-7a920-firebase-adminsdk-3esie-1b79ddb11e.json
